@model kahvedükkanı.Models.Siniflar.AnaSayfa
@{
    ViewBag.Title = "FindCategory";
    Layout = "~/Views/Shared/_AdminLayoyt.cshtml";
}

<h2>Update Category</h2>
<br />

@using (Html.BeginForm("UpdateCategory", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.CategoryID)
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control",@readonly="readonly" }) @*css ekleme*@
    <br />
    @Html.LabelFor(x => x.CategoryName)
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" }) @*css ekleme*@
    <br />

    @Html.LabelFor(x => x.CategoryImgUrl)
    @Html.TextAreaFor(x => x.CategoryImgUrl, new { @class = "form-control" }) @*css ekleme*@
    <br />
    <button class="btn btn-success">Update Category</button>
}

